services:
  mangareader:
    image: ghcr.io/suwayomi/server:latest
    container_name: mangareader
    restart: unless-stopped
    ports:
      - "{{ mangareader_port }}:4567"
    volumes:
      - {{ mangareader_data_dir }}/data:/home/suwayomi/.local/share/Suwayomi
    environment:
      - TZ={{ timezone }}
