echo -e ""
echo -e "\e[1mSuwayomi LXC Container\e[m"
echo -e "    🌐  \e[m\e[33m Provided by: \e[1;92mcommunity-scripts ORG \e[33m| GitHub: \e[1;92mhttps://github.com/community-scripts/ProxmoxVE\e[m"
echo ""
echo -e "    🖥️  \e[m\e[33m OS: \e[1;92mDebian GNU/Linux - Version: {{ ansible_distribution_version }}\e[m"
echo -e "    🏠  \e[m\e[33m Hostname: \e[1;92m$(hostname)\e[m"
echo -e "    💡  \e[m\e[33m IP Address: \e[1;92m$(hostname -I | awk '{print $1}')\e[m"
