---
services:
  suwayomi:
    image: ghcr.io/suwayomi/suwayomi-server:preview
    privileged: true
    user: root
    pull_policy: always
    network_mode: host
    environment:
      - TZ={{ timezone }}
      - FLARESOLVERR_ENABLED=true
      - FLARESOLVERR_URL=http://127.0.0.1:8191
      - BIND_IP=0.0.0.0
      - DOWNLOAD_AS_CBZ=true
      - EXTENSION_REPOS=["https://raw.githubusercontent.com/keiyoushi/extensions/repo/index.min.json"]
    volumes:
      - {{ suwayomi_data_dir }}/downloads:/home/suwayomi/.local/share/Tachidesk/downloads
      - {{ suwayomi_data_dir }}/files:/home/suwayomi/.local/share/Tachidesk
    restart: on-failure:3
  flaresolverr:
    image: ghcr.io/thephaseless/byparr:latest
    container_name: flaresolverr
    network_mode: host
    environment:
      - TZ={{ timezone }}
    restart: unless-stopped