---
serversTransport:
  insecureSkipVerify: true

entryPoints:
  https:
    address: :443
    http:
      tls: {}

certificatesResolvers:
  letsencrypt:
    acme:
      email: "glhedamoreira@gmail.com"
      storage: "/etc/traefik/acme.json"

providers:
  file:
    directory: /etc/traefik/config
    watch: true

api:
  dashboard: true
  insecure: true
  debug: true

log:
  level: DEBUG
  filePath: "/etc/traefik/log/traefik.log"

accessLog:
  filePath: "/etc/traefik/log/access.log"

experimental:
  plugins:
    traefik-plugin:
      moduleName: "github.com/jlfxt/traefik-plugin"
      version: "v0.1.3"